<form
  role="form"
  ng-submit="topNavOpts.doSave()">
  <div class="form-group">
    <label for="pipelineId">Title</label>
    <input
      class="form-control"
      input-focus="select"
      type="text"
      name="pipelineId"
      ng-model="topNavOpts.pipeline.pipelineId"
      required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input
      class="form-control"
      type="text"
      name="description"
      ng-model="topNavOpts.pipeline.description">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>
