<div
  class="header"
  ng-hide="pipeline.sampleCollection.samples.length > 0">
  <label>Sample Documents</label>
</div>
<div
  class="help-message"
  ng-hide="pipeline.sampleCollection.samples.length > 0">
  <p>Sample documents are used while building your pipeline and should represent the expected structure of the data that you intend to index through your pipeline. For the best experience building your pipeline, it is suggested that you define at least one sample document.</p>
</div>

<label
  ng-show="pipeline.sampleCollection.samples.length > 0">
  Sample Document
</label>
<div class="controls"
  ng-show="pipeline.sampleCollection.samples.length > 0">
  <select
    class="form-control"
    ng-model="pipeline.sampleCollection.index"
    ng-options="pipeline.sampleCollection.samples.indexOf(sample) as sample.description for sample in pipeline.sampleCollection.samples">
  </select>
  <button
    type="Previous Document"
    tooltip="Previous Document"
    tooltip-append-to-body="true"
    class="btn previous"
    ng-click="documentSelector.previousSample();">
    <i aria-hidden="true" class="fa fa-chevron-left"></i>
  </button>
  <button
    type="Next Document"
    tooltip="Next Document"
    tooltip-append-to-body="true"
    class="btn next"
    ng-click="documentSelector.nextSample();">
    <i aria-hidden="true" class="fa fa-chevron-right"></i>
  </button>
</div>
