<div
  class="tree-item"
  ng-class="{ expanded: processorTreeItem.expanded === true }"
  ng-click="processorTreeItem.selectItem()"
  draggable-handle>
  <div class="collapse-icon">
    <button
      type="button"
      tooltip="Expand"
      tooltip-append-to-body="true"
      class="btn btn-xs"
      ng-show="!processorTreeItem.expanded && processorTreeItem.childItems.length > 0 && processorTreeItem.processorShell.failureAction === 'on_error'"
      ng-click="processorTreeItem.expanded = true">
      <i aria-hidden="true" class="fa fa-caret-right"></i>
    </button>
    <button
      type="button"
      tooltip="Collapse"
      tooltip-append-to-body="true"
      class="btn btn-xs"
      ng-show="processorTreeItem.expanded && processorTreeItem.childItems.length > 0 && processorTreeItem.processorShell.failureAction === 'on_error'"
      ng-click="processorTreeItem.expanded = false">
      <i aria-hidden="true" class="fa fa-caret-down"></i>
    </button>
  </div>
  <div class="status-icon">
    <i
      aria-hidden="true"
      class="fa fa-question not-initialized"
      tooltip="This processor has not yet been simulated"
      tooltip-append-to-body="true"
      ng-show="processorTreeItem.processorShell.state === processorTreeItem.processorStates.NOT_INITIALIZED">
    </i>
    <i
      aria-hidden="true"
      class="fa fa-warning error-fail"
      tooltip="Simulate returned an error for this processor"
      tooltip-append-to-body="true"
      ng-show="processorTreeItem.processorShell.state === processorTreeItem.processorStates.ERROR_FAIL">
    </i>
    <i
      aria-hidden="true"
      class="fa fa-warning error-compile"
      tooltip="Simulate returned a compile error for this processor"
      tooltip-append-to-body="true"
      ng-show="processorTreeItem.processorShell.state === processorTreeItem.processorStates.ERROR_COMPILE">
    </i>
    <i
      aria-hidden="true"
      class="fa fa-warning error-recover"
      tooltip="Simulate returned an error for this processor"
      tooltip-append-to-body="true"
      ng-show="processorTreeItem.processorShell.state === processorTreeItem.processorStates.ERROR_RECOVER">
    </i>
    <i
      aria-hidden="true"
      class="fa fa-mail-forward no-result"
      tooltip="Simulate returned no result for this processor"
      tooltip-append-to-body="true"
      ng-show="processorTreeItem.processorShell.state === processorTreeItem.processorStates.NO_RESULT">
    </i>
    <i
      aria-hidden="true"
      class="fa fa-check valid"
      tooltip="Simulate successfully returned a result for this processor"
      tooltip-append-to-body="true"
      ng-show="processorTreeItem.processorShell.state === processorTreeItem.processorStates.VALID">
    </i>
  </div>
  <div class="title">
    <span class="processor-type">{{processorTreeItem.processorShell.title}}</span>
    <span class="processor-description">{{processorTreeItem.processorShell.description}}</span>
  </div>
  <div class="buttons">
    <button
      type="button"
      tooltip="Delete"
      tooltip-append-to-body="true"
      class="btn btn-xs"
      ng-click="processorTreeItem.delete()">
      <i aria-hidden="true" class="fa fa-trash"></i>
    </button>
  </div>
</div>
<processor-tree
  class="on-error branch"
  ng-show="processorTreeItem.expanded && processorTreeItem.childItems.length > 0 && processorTreeItem.processorShell.failureAction === 'on_error'"
  items="processorTreeItem.childItems"
  root-processor-tree="processorTreeItem.rootProcessorTree">
</processor-tree>
